.paquetes, .consulta {
    font-size: 20px;
    border: 2px solid;
    display: flex;    
    flex-direction: column;
    max-width: 410px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
    background-image: url(../imagenes/fondo1.png);
    background-position: bottom;
    color: white;
}

div.datoComprador {

    padding: 5px;
    display: flex;    
    flex-direction: column;
    max-width: 400px;
}
.promoClases {
    margin-top: 0px;
    align-self: center;
    width: 250px;
    display: grid;
    justify-items: start;
    grid-template-columns: auto auto;
    column-gap: 1px;
    row-gap: 1px;
    padding: 5px 5px 5px 5px;
    }

.botones { 
        align-self: center;
        width: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 17px;
    }
.enviar  {
        margin: 10px 0px 5px 0px;
    }
.reset  {
        margin-bottom: 5px;
    }
.redondeado {
        align-items: center;
        border-radius: 5px;
        display: block;
        width: 400px;
    }
.submit, .reset {
        align-items: center;
        width: 130px;
        height: 28px;
        border-radius: 5px;
        justify-self: center;

}
.paquetes input {
    border-radius: 5px;
}