@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Chicle&family=Josefin+Sans:wght@100&family=Lora&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ece42c;
}
body header {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Chicle", serif;
  background-color: #333;
  background-image: url(../imagenes/honeyfondo.png);
  background-position: center;
  background-size: cover;
  max-width: auto;
}
body header .header_logo {
  align-items: start;
}
body header .header_logo img {
  width: 20%;
}
body h1 {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 70px;
}
body h2 {
  font-size: 50px;
}
body h1, body h2 {
  text-align: center;
  color: black;
}
body .texto {
  text-align: center;
  color: black;
}
body div.esquemasGrid {
  align-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 170px 170px;
  margin: auto auto 80px 80px;
  gap: 25px;
}
body div.esquemasGrid .galeria, body div.esquemasGrid .clases, body div.esquemasGrid .packClases, body div.esquemasGrid .contacto {
  background: linear-gradient(38deg, black, yellow 40%);
  margin: 10px 10px;
  width: 320px;
  height: 160px;
  padding: 20px;
  border-color: black;
  border: 2px solid black;
  color: black;
  display: inline;
}
body div.esquemasGrid ul {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 20px;
  list-style: none;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
  text-decoration: none;
}
body section.foto {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: stretch;
}

a {
  outline: none;
  text-decoration: none;
}

a.link:link {
  color: #B53AD6;
}

a.link:visited {
  color: #B53AD6;
}

a.link:hover {
  border-bottom: 1px solid;
}

a.link:focus {
  border-bottom: 2px solid;
  background: #333;
}

a.link:active {
  background: #265301;
  color: #cdfeaa;
}

.videos {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  justify-items: center;
  grid-row-gap: 5px;
}
.videos iframe {
  width: 600px;
  height: 400px;
}

.botones {
  align-self: center;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.enviar {
  margin: 5px 0px 5px 0px;
}

.reset {
  margin-bottom: 5px;
}

footer {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer iframe {
  width: 70%;
  height: 80%;
  border: none;
}

div.eventos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parraPrincipal {
  text-align: center;
}

.eligeClases {
  margin-top: 0px;
  align-self: center;
  width: 150px;
  display: grid;
  justify-items: start;
  grid-template-columns: auto auto;
  -moz-column-gap: 1px;
       column-gap: 1px;
  row-gap: 1px;
  padding: 5px 5px 5px 5px;
}

.promoClases {
  margin-top: 0px;
  align-self: center;
  width: 250px;
  display: grid;
  justify-items: start;
  grid-template-columns: auto auto;
  -moz-column-gap: 1px;
       column-gap: 1px;
  row-gap: 1px;
  padding: 5px 5px 5px 5px;
}

div.datoComprador {
  padding: 5px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.paquetes, .consulta {
  font-size: 20px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.subtituloClase, .subTitulo {
  text-decoration: underline;
  font-family: "chicle", serif;
  font-size: 30px;
  margin: 5px 0px 0px 0px;
}

.redondeado {
  align-items: center;
  border-radius: 5px;
  display: block;
  width: 400px;
}

.submit, .reset {
  align-items: center;
  width: 130px;
  height: 28px;
  border-radius: 5px;
  justify-self: center;
}

.paquetes input {
  border-radius: 5px;
}

@media (max-width: 768px) {
  body {
    width: auto;
  }
  body h1 {
    width: auto;
    font-size: 30px;
  }
  body h2 {
    width: auto;
    font-size: 15px;
  }
  body div.esquemasGrid {
    justify-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto auto 80px 80px;
    gap: 25px;
  }
  section.contacto {
    margin: 10px 10px;
  }
  body section.foto {
    justify-items: stretch;
    display: grid;
    max-width: 760px;
    width: auto;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
    padding: 5px;
  }
  .videos {
    justify-items: center;
    display: grid;
    max-width: 760px;
    width: auto;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
    padding: 5px;
  }
  .titlePack {
    font-size: 35px;
  }
}/*# sourceMappingURL=style.css.map */